PORT=8001
HOST=127.0.0.1
MACHINE_ID=

# Optional: Give if you have a custom path for the binaries, otherwise it will be assumed to be in the 'tools' folder
WT_EXT_CLI_PATH=
BINBLK_PATH=

# Token Caching config
DELETE_AFTER=12h
CHECK_INTERVAL=1h
REFRESH_IF_LESS_MINS=30