# MUST BE FOR AN ACCOUNT WITH NO 2FA
WT_EMAIL=
WT_PASS=

# Optional: Give if you have a custom path for the binaries, otherwise it will be assumed to be in the 'tools' folder
WT_EXT_CLI_PATH=
BINBLK_PATH=
