python-dotenv
orjson

# API Backend
slowapi
fastapi
uvicorn
apscheduler
requests
python-multipart
PyGithub

# Data processing
lz4
bs4
pandas
PyJWT[crypto]
pydantic[email]
cryptography
geoip2

# Async
aiosqlite
aiohttp
